.nav{
    padding-left:2rem;
    padding-right:2rem;
    display:flex;
    height :1.5rem;
    text-align: center;
    justify-content: space-between;
    background: linear-gradient(to right, #ff9a9e, #fad0c4 );

}

.nav-links{
    list-style: none;
    display:flex
}
.link{
    cursor:pointer;
    margin-left:1rem;
    margin-right:1rem;
}

.nav-links li:hover {
    
    color: white;
    border-radius: 20px;
   
}
.link-env{
    padding-left:1rem;
    cursor: pointer;
}
.link-env:hover{
    text-shadow : 2px 2px 2px #edecec
}